@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css");
@import url("https://fonts.googleapis.com/css2?family=Koulen&display=swap");

.img-novedades {
  width: 300px;
  background-color: #040404;
}

form {
  width: 100px;
}

/*    maps     */
.formulario-Enviarformulario {
  background-color: #f4f4f4;
}

.formulario-Limpiarformulario {
  background-color: #040404;
}

.videos1,
.videos2,
.videos3,
.videos4,
.videos5,
.videos6 {
  border: solid 5px blueviolet;
  margin-left: 5%;
  margin-top: 10px;
  margin-bottom: 10px;
}

/*  mixin  */
.img-encabezado,
.imagen-encabezado2 {
  width: 90%;
}

* {
  margin: 0%;
  padding: 0%;
  font-family: 'https://fonts.googleapis.com/css2?family=Koulen&display=swap', sans-serif;
}

#body {
  color: black;
  width: auto;
  background-color: black;
}

#body body {
  font-size: small;
  border: 20px, solid, black;
  text-align: center;
  box-shadow: -1px;
}

ul li {
  display: inline-block;
  margin-top: 50px auto;
  margin-bottom: 50px auto;
}

.fondo-del-gordo {
  width: 90%;
  padding: 100px;
  background-color: black;
}

.textoFoto1 {
  color: blueviolet;
  border: 2, 5px;
  font-family: 'Koulen', cursive;
  margin-left: 10px;
  margin: auto 10%;
  font-size: 20px;
  text-align: center;
  background-color: black;
}

.img-encabezado {
  display: inline;
  width: 90%;
  margin: 0%;
  margin-left: 140px;
  margin-bottom: 15px;
  border: 5px solid blueviolet;
  align-items: center;
  color: blueviolet;
  background-color: black;
}

.imagen-encabezado2 {
  display: inline;
  width: 90%;
  margin: 0%;
  margin-left: 140px;
  border: 5px solid blueviolet;
  align-items: center right;
  color: blueviolet;
  background-color: black;
}

.nav-item a:hover {
  color: black;
}

.bg-propio {
  text-decoration: none;
  font-size: 120px;
  font-family: 'Koulen', cursive;
  color: black;
  height: 65%;
  background-color: blueviolet;
  position: sticky;
  margin-bottom: 10px;
}

nav ul li a {
  text-decoration: none;
  font-size: 20px;
  font-family: 'Koulen', cursive;
  color: black;
  margin: 10px;
  height: 100px;
}

.titulo-principal {
  color: black;
  font-weight: bolder;
  font-family: 'Koulen', cursive;
  text-align: center;
  color: blueviolet;
  margin-top: 40px;
  background-color: black;
  margin-bottom: 20px;
}

.pie-de-pagina {
  background-color: blueviolet;
  color: black;
  display: grid;
  grid-template-areas: "redes-sociales"
    "descripcion-wakanda";
  justify-content: center;
  grid-gap: 2rem;
  margin-top: 10px;
}

.pie-de-pagina p {
  font-size: xx-large;
  font-weight: 400;
  text-align: center;
  grid-area: redes-sociales;
  color: honeydew;
  width: 50%;
  height: 50px;
  margin-left: 10%;
  display: flex;
}


.bi-instagram {
  display: flex;
  color: black;
  text-decoration: none;
  font-size: 40px;
  width: 10% auto;
  margin-top: 20px;
  margin-bottom: 10px;
}

.contenedor-texto {
  display: inline-block;
  color: black;
  font-family: koulen;
  text-align: center;
  color: blueviolet;
  margin-bottom: 5px;
  background-color: black;
  margin-left: auto 50px;
  width: 100%;
  font-size: 20px;
  margin-top: 10px;
}





.buzoArquero {
  margin-left: 100px;
  width: 300px;
  border: 5px solid blueviolet;
}

.camisetaBlanca {
  margin-left: 300px;
  width: 500px;
  border: 5px solid blueviolet;
}

.shorts {
  margin-top: 20px;
  width: 50%;
  margin-left: 300px;
  border: 5px solid blueviolet;
}

.imagenesNovedades {
  width: 100%;
  padding: 100px;
  background-color: black;
}

.img-novedades {
  width: 300px;
  margin: 0%;
  margin-left: 30px;
  margin-bottom: 10px;
  border: 5px solid blueviolet;
  align-items: center;
  color: blueviolet;
  background-color: black;
}

.img-novedades-1 {
  width: 400px;
  margin: 25px;
  margin-bottom: 5px;
  border: 5px solid blueviolet;
  align-items: center;
  color: blueviolet;
  background-color: black;
}

.imagen-novedades-equipo2 {
  width: 300px;
  margin: 0%;
  border: 5px solid blueviolet;
  align-items: center right;
  color: blueviolet;
  background-color: black;
}

.texto-novedades {
  font-family: koulen;
  font-size: 20px;
  margin-bottom: 30px;
  margin-top: 0px;
  color: blueviolet;
}

.form-register {
  width: 400px;
  background-color: blueviolet;
  padding: 30px;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 50px;
  border-radius: 4px;
  font-family: koulen;
  color: #040404;
}

.form-register h4 {
  margin-bottom: 20px;
  font-size: 20px;
}

.controls {
  width: 100%;
  background: black;
  padding: 10px;
  border-radius: 4px;
  font-family: koulen;
  margin-bottom: 16px;
  border: 1px dashed blueviolet;
  font-size: 20px;
  color: white;
}

.form-register p {
  font-size: 15px;
  font-family: koulen;
}

.form-register .botons {
  width: 100%;
  background: #040404;
  border: none;
  padding: 12px;
  color: blueviolet;
  margin: 16px 0;
  font-size: 16px;
}

.imgPlantel {
  width: 90%;
  margin-top: 20px;
  margin-left: 70px;
  border: 5px solid blueviolet;
  align-items: center right;
  color: blueviolet;
  background-color: black;
}

.imgPlantel2 {
  width: 50%;
  margin: 0%;
  margin-left: 320px;
  border: 5px solid blueviolet;
  align-items: center;
  color: blueviolet;
  background-color: black;
}


.card {
  position: relative;
  width: 300px;
  height: 350px;
  background-color: #040404;
  margin: 5%;
  display: inline-block;
}

.card .face {
  position: absolute;
  width: 100%;
  backface-visibility: hidden;
  border-radius: 10px;
  overflow: hidden;
  transition: .10s;
}

.card .front {
  transform: perspective(600px) rotateY(0deg);
  height: 100%;
}

.card .front img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  margin: 5px;
}

.card .back {
  transform: perspective(600px) rotateY(180deg);
  background-color: #040404;
  color: blueviolet;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
}

.card .back h3 {
  margin: 10%;
  font-family: koulen;
  font-size: 50px;

}

.card .back h4 {
  font-size: 50px;
  text-align: center;
  font-family: koulen;
  margin-top: 10%;
}

.card:hover .front {
  transform: perspective(600px) rotateY(180deg);
}

.card:hover .back {
  transform: perspective(600px) rotateY(360deg);
}



@media screen and (min-width: 780px) and (max-width: 1300px) {
  nav ul li a {
    background-color: blueviolet;
  }

  .contenedor-texto {
    width: 100%;
  }

  .buzoArquero {
    margin-left: 10%;
    width: 300px;
    border: 5px solid blueviolet;
  }

  .camisetaBlanca {
    margin-left: 10%;
    width: 300px;
    border: 5px solid blueviolet;
  }
}

@media screen and (min-width: 480px) and (max-width: 780px) {
  nav ul li a {
    background-color: blueviolet;
  }

  .contenedor-texto {
    width: 100%;
  }

  .texto-novedades {
    margin: 5px;
    margin-left: 20px;
  }

  .buzoArquero {
    margin-left: 50px;
    width: 400px;
    height: 500px;
    border: 5px solid blueviolet;
    margin-bottom: 10px;
    margin-top: 20px;
  }

  .camisetaBlanca {
    margin-left: 50px;
    width: 400px;
    border: 5px solid blueviolet;
  }

  .shorts {
    margin-top: 20px;
    width: 400px;
    margin-left: 50px;
    border: 5px solid blueviolet;
  }

  .imagenesNovedades {
    width: 100%;
    padding: 100px;
    background-color: black;
  }

  .img-novedades {
    width: 300px;
    margin: 0%;
    margin-left: 10px;
    margin-bottom: 10px;
    border: 5px solid blueviolet;
    align-items: center;
    color: blueviolet;
    background-color: black;
  }

  .img-novedades-1 {
    width: 200px;
    margin: 10px;
    margin-left: 20px;
    margin-bottom: 15px;
    border: 5px solid blueviolet;
    position: center;
    align-items: center;
    color: blueviolet;
    background-color: black;
  }

  .imagen-novedades-equipo2 {
    width: 300px;
    margin: 0%;
    border: 5px solid blueviolet;
    align-items: center right;
    color: blueviolet;
    background-color: black;
  }

  .img-encabezado {
    display: inline;
    width: 500px;
    margin: 0%;
    margin-left: 5px;

    margin-bottom: 15px;
    border: 5px solid blueviolet;
    align-items: center;
    color: blueviolet;
    background-color: black;
  }

  .imagen-encabezado2 {
    display: inline;
    width: 500px;
    margin-left: 5px;
    border: 5px solid blueviolet;
    align-items: center right;
    color: blueviolet;
    background-color: black;
  }

  .videos {
    margin-left: 30px;
    width: fit-content;
  }

  .imgPlantel {
    margin-left: 30px;
  }

  .imgPlantel2 {
    margin-left: 170px;
  }
}

@media screen and (max-width: 480px) {
  nav ul li a {
    height: 80px;
  }

  .bg-propio {
    background-color: blueviolet;
  }
.fondo-del-gordo {
  margin: 0;
  padding: 15px;
}
  .img-encabezado {
    display: inline;
    width: 400px;
    margin-bottom: 15px;
    margin-left: 5px;
    border: 5px solid blueviolet;
    align-items: center;
    color: blueviolet;
    background-color: black;
  }

  .imagen-encabezado2 {
    display: inline;
    width: 400px;
    border: 5px solid blueviolet;
    align-items: center right;
    color: blueviolet;
        margin-left: 5px;

    background-color: black;
  }

  .pie-de-pagina {
    background-color: magenta;
    width: 100%;
  }

  .titulo-principal {
    color: black;
    font-weight: bolder;
    font-family: 'Koulen', cursive;
    text-align: center;
    color: blueviolet;
    margin: 10px;
    background-color: black;
  }

  .pie-de-pagina {
    background-color: blueviolet;
    color: black;
    display: grid;
    grid-template-areas: "redes-sociales"
      "descripcion-wakanda";
    justify-content: center;
    grid-gap: 2rem;
  }

  .buzoArquero {
    margin: 5%;
    width: 90% ;
    display: flex;
    border: 5px solid blueviolet;
  }

  .camisetaBlanca {
    margin: 5%;
    width: 90% ;
    display: flex;

    border: 5px solid blueviolet;
  }


  .shorts {
    margin: 5%;
    width: 90% ;
    border: 5px solid blueviolet;
  }

  .form-register{
width: 100%;

  }

  .img-novedades {
    width: 300px;
    margin: 0%;
    margin-left: 10px;
    margin-bottom: 10px;
    border: 5px solid blueviolet;
    align-items: center;
    color: blueviolet;
    background-color: black;
  }

  .img-novedades-1 {
    width: 400px;
    margin: 25px;
    margin-bottom: 5px;
    border: 5px solid blueviolet;
    align-items: center;
    color: blueviolet;
    background-color: black;
  }

  .imagen-novedades-equipo2 {
    width: 300px;
    margin: 0%;
    border: 5px solid blueviolet;
    align-items: center right;
    color: blueviolet;
    background-color: black;
  }
}